.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}

// .content {
//             text-align: center;
//             margin: 20px;
//         }
// .popup {
//     display: none;
//     position: fixed;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     background-color: white;
//     border: 1px solid #ccc;
//     padding: 10px;
//     z-index: 1000;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }
// .overlay {
//     display: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 999;
// }
// .popup img {
//     max-width: 100%;
//     height: auto;
//     margin: 5px;
// }
// @media (max-width: 600px) {
//     .popup img {
//         width: 100%;
//     }
// }
.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.highlight-text {
    display: inline-block;
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.highlight-text .fa {
    margin: 0 5px;
}

.gift-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.gift-image {
    width: 200px;
    border: 2px solid rgb(4, 0, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(90, 161, 247, 0.7);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gift-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
}

.fa-gift {
    font-size: 2.5em;
    color: gold;
    cursor: pointer;
}